@model IEnumerable<Fiap.Web.RotaDaReciclagem.Models.AgendamentoModel>

<h1>Agendamentos</h1>

@if (!string.IsNullOrEmpty((String)TempData["mensagemSucesso"]!))
{
    <div class="alert alert-warning" role="alert">@TempData["mensagemSucesso"]</div>
}

<p>
    <a asp-controller="Agendamento" asp-action="Create">Novo Agendamento</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Data</th>
            <th>Tipo de Resíduo</th>
            <th>Quantidade (L)</th>
            <th>Morador</th>
            <th>Caminhão</th>
            <th>Motorista</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <label>@item.AgendamentoId</label>
                </td>
                <td>
                    <label>@item.Data</label>
                </td>
                <td>
                    <label>@item.TipoResiduo</label>
                </td>
                <td>
                    <label>@item.QuantidadeLitros</label>
                </td>
                <td>
                    <label>@item.Morador!.Nome</label>
                </td>
                <td>
                    <label>@item.Caminhao!.CaminhaoId</label>
                </td>
                <td>
                    <label>@item.Caminhao.Motorista</label>
                </td>
                <td>
                    <!-- asp-route-id é usado para informar o Id do Item selecionado. -->
                    <a asp-controller="Agendamento"
                       asp-action="Edit"
                       asp-route-id="@item.AgendamentoId">Editar</a>

                    <a asp-controller="Agendamento"
                       asp-action="Detail"
                       asp-route-id="@item.AgendamentoId">Consultar</a>

                    <a asp-controller="Agendamento"
                       asp-action="Delete"
                       asp-route-id="@item.AgendamentoId">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
